<form class="login-form" [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
  <div class="login-form__fields">
    <mat-form-field>
      <input matInput formControlName="username" [maxLength]="30" />
      <mat-label>Username</mat-label>

      @if (loginForm.controls.username.getError('required')) {
      <mat-error>Username is required </mat-error>
      }

      @if (loginForm.controls.username.getError('max-length')) {
      <mat-error>Username must be less than 30 characters</mat-error>
      }

      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="password" [type]="hidePassword() ? 'password' : 'text'" />
      <mat-label>Password</mat-label>

      @if (loginForm.controls.password.errors?.['required']) {
      <mat-error> Password is required </mat-error>
      }

      <button (click)="handleTogglePasswordVisibility()" [attr.aria-pressed]="hidePassword()" aria-label="Hide password"
        mat-icon-button matSuffix type="button">
        <mat-icon>{{ hidePassword() ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <button mat-flat-button [disabled]="isLoading()">
    @if (isLoading()) {
    <mat-spinner [diameter]="24"></mat-spinner>
    } @else { Sign In }
  </button>
</form>