mat-icon {
  transform: scale(1);
  display: flex;
}

.item {
  align-items: center;
  display: flex;
  flex-direction: column;
  font: var(--mat-sys-body-small);
  color: var(--sidenav-foreground);
  gap: 6px;

  &:hover {
    .icon {
      background: var(--sidenav-accent);
      color: var(--sidenav-accent-foreground);
    }
  }

  .icon {
    padding: 0.3rem 0.8rem;
    border-radius: var(--mat-sys-corner-large);

    &:hover {
      background: var(--sidenav-accent);
      color: var(--sidenav-accent-foreground);
    }
  }

  &.active {
    .icon {
      background: var(--mat-sys-primary);
      color: var(--mat-sys-on-primary);
    }

    span {
      font-weight: 500;
    }
  }
}
