@use "variables" as *;

mat-sidenav-container {
  min-height: 100vh;
}

mat-sidenav {
  position: fixed;
  width: var(--sidenav-width);
  background: var(--mat-sys-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 0;

  @media (width < $breakpoint-lg) {
    display: none;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}
