mat-sidenav-container {
  min-height: 100vh;
}

mat-sidenav {
  position: fixed;
  width: 280px;
  background: var(--mat-sys-primary-container);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}
