.login-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  height: 100%;
  animation: fadeInUp 0.2s ease-in-out;

  header h1 {
    text-align: center;
    color: var(--mat-sys-on-surface);
  }
}

footer {
  color: var(--mat-sys-on-surface-variant);
  text-align: center;

  a {
    color: var(--mat-sys-primary);
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: var(--mat-sys-secondary-container);
    }
  }
}
