@let loggedInUser = authService.user();

<div>
  <aside class="sidebar">
    <ul class="sidebar__menu">
      @for (item of sidebarItems(); track item.label) {
      <f5pi-sidenav-item [item]="item"></f5pi-sidenav-item>
      }
      <li class="footer">
        <div class="user">
          <p>Hello,</p>
          <p class="full-name">{{ loggedInUser?.fullName }}</p>
        </div>
        <div class="actions">
          <button mat-icon-button (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
          </button>
          <button mat-icon-button (click)="toggleTheme()">
            <mat-icon> @if (themeService.currentTheme() === 'dark') { light_mode } @else { dark_mode}</mat-icon>
          </button>
        </div>
      </li>
    </ul>
  </aside>
  <main class="main-content">
    <section class="main-content__wrapper">
      <ng-content />
    </section>
  </main>
</div>
