@use "variables" as *;

mat-sidenav {
  align-items: center;
  background: var(--sidenav-background);
  border-radius: 0;
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  position: fixed;
  width: var(--sidenav-width);

  @media (width < $breakpoint-lg) {
    display: none;
  }
}

.sidebar {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 10px;

  div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      --mdc-icon-button-state-layer-size: 48px;
    }
  }
}
