:host {
  display: block;
  height: 100vh;
  width: 100%;
}

.auth-layout {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.auth-layout__hero {
  grid-column: span 6 / span 6;
  background: var(--mat-sys-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-layout__content {
  grid-column: span 6 / span 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 1.3rem;
}

@media (width < 1024px) {
  .auth-layout__hero {
    display: none;
  }

  .auth-layout__content {
    grid-column: span 12 / span 12;
  }
}
