@let isLoading = fieldsResource.isLoading();

<f5pi-generic-widget widgetTitle="Fields">
  <ng-template #headerActions>
    <button mat-mini-fab (click)="openNewFieldDialog()" matTooltip="Add a new field" aria-label="Add a new field">
      <mat-icon>add</mat-icon>
    </button>
  </ng-template>

  <ng-template #content>
    <table
      [dataSource]="fieldsResource.value()?.content || [{ fieldName: 'Loading...', fieldId: 'Loading...' }]"
      class="mat-elevation-z8"
      mat-table
    >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        @if (isLoading) {
        <td mat-cell *matCellDef="let element">
          <div class="loading"></div>
        </td>
        } @else {
        <td mat-cell *matCellDef="let element">
          {{ element.fieldName }}
        </td>
        }
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        @if (isLoading) {
        <td mat-cell *matCellDef="let element">
          <div class="loading"></div>
        </td>
        } @else {
        <td mat-cell *matCellDef="let element">
          <f5pi-table-actions
            (onDelete)="handleDeleteField(element)"
            (onEdit)="openEditFieldDialog(element)"
            entityName="field"
          ></f5pi-table-actions>
        </td>
        }
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['name', 'actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name', 'actions']"></tr>
    </table>
  </ng-template>

  <ng-template #footer>
    <mat-paginator
      (page)="onPageChangeEvent($event)"
      [hidePageSize]="true"
      [length]="fieldsResource.value()?.totalElements"
      [pageIndex]="fieldsResource.value()?.pageable?.pageNumber"
      [pageSize]="fieldsResource.value()?.pageable?.pageSize"
      aria-label="Select page of fields"
      showFirstLastButtons
    >
    </mat-paginator>
  </ng-template>
</f5pi-generic-widget>
