<form [formGroup]="form" (submit)="handleOnSubmit()">
  <f5pi-generic-dialog title="Edit field">
    <ng-template #content>
      @if (error()) {
      <div class="alert" role="alert">
        <mat-icon class="material-symbols-outlined material-symbols-outlined--filled">info</mat-icon>
        <span>{{ error() }}</span>
      </div>
      }
      <mat-form-field>
        <input [maxLength]="20" matInput placeholder="Name" formControlName="name" />
        @if (form.controls.name.getError('required')) {
        <mat-error>Name is required</mat-error>
        } @else if (form.controls.name.getError('maxlength')) {
        <mat-error>Name must be less than 20 characters</mat-error>
        }
      </mat-form-field>
    </ng-template>

    <ng-template #footer>
      <button mat-button [mat-dialog-close]="false">Close</button>
      <button mat-flat-button type="submit">Save</button>
    </ng-template>
  </f5pi-generic-dialog>
</form>
