<mat-card appearance="outlined">
  <!-- Card header -->
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>
        {{ widgetTitle() }}
        @if (icon()) {
        <mat-icon>{{ icon() }}</mat-icon>
        }
      </mat-card-title>
      <ng-container *ngTemplateOutlet="headerActions()"></ng-container>
    </mat-card-title-group>
  </mat-card-header>

  <!-- Card content -->
  <mat-card-content>
    <ng-container *ngTemplateOutlet="content()"></ng-container>
  </mat-card-content>

  <!-- Card footer -->
  <ng-container *ngIf="footer">
    <footer>
      <ng-container *ngTemplateOutlet="footer()"></ng-container>
    </footer>
  </ng-container>
</mat-card>