<form [formGroup]="form" (submit)="handleSubmit()">
  <f5pi-generic-dialog dialogTitle="Edit season" [isPending]="updateSeasonService.isPending()">
    <ng-template #content>
      @if (updateSeasonService.error()) {
      <f5pi-alert [message]="updateSeasonService.error()!"></f5pi-alert>
      }

      <div class="form">
        <mat-form-field>
          <input matInput [maxLength]="20" cdkFocusInitial formControlName="name" />
          <mat-label>Name</mat-label>
          @if (form.controls.name.getError('required')) {
          <mat-error> Name is required </mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <input
            (focus)="startDatePicker.open()"
            [matDatepicker]="startDatePicker"
            formControlName="initialDate"
            matInput
          />
          <mat-label>Initial date</mat-label>
          <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
          @if (form.controls.initialDate.getError('required')) {
          <mat-error> Initial date is required </mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="endDatePicker" (focus)="endDatePicker.open()" formControlName="finalDate" />
          <mat-label>Final date</mat-label>
          <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
          @if (form.controls.finalDate.getError('required')) {
          <mat-error> Final date is required </mat-error>
          }
        </mat-form-field>
      </div>
    </ng-template>
  </f5pi-generic-dialog>
</form>
