<form [formGroup]="form" (submit)="handleSubmit()">
  <f5pi-generic-dialog title="Edit season">
    <ng-template #content>
      <div class="form">
        <mat-form-field>
          <input matInput [maxLength]="20" cdkFocusInitial formControlName="name" />
          <mat-label>Name</mat-label>
        </mat-form-field>

        <mat-form-field>
          <input
            (focus)="startDatePicker.open()"
            [matDatepicker]="startDatePicker"
            formControlName="initialDate"
            matInput
          />
          <mat-label>Initial date</mat-label>
          <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="endDatePicker" (focus)="endDatePicker.open()" formControlName="finalDate" />
          <mat-label>Final date</mat-label>
          <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>
      </div>
    </ng-template>

    <ng-template #footer>
      <button mat-button [mat-dialog-close]="false">Close</button>
      <button mat-flat-button type="submit">Save</button>
    </ng-template>
  </f5pi-generic-dialog>
</form>
