@let isDeleting = seasonsService.deleteSeasonMutation.isPending(); @let isFetching = getSeasonsQuery.query.isFetching();

<f5pi-generic-widget widgetTitle="Seasons" icon="calendar_month">
  <ng-template #headerActions>
    <button mat-mini-fab (click)="openNewSeasonDialog()" matTooltip="Add a new season">
      <mat-icon>add</mat-icon>
    </button>
  </ng-template>

  <ng-template #content>
    @if (getSeasonsQuery.query.isPending()) {
    <div class="loading"></div>
    } @else if (getSeasonsQuery.query.isError()) {
    <span> Failed to load seasons. Please try again later. </span>
    } @else {
    <table mat-table [dataSource]="getSeasonsQuery.query.data()!.content">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="initialDate">
        <th mat-header-cell *matHeaderCellDef>Start</th>
        <td mat-cell *matCellDef="let element">
          {{ element.initialDate | date : "MMM d, yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="finalDate">
        <th mat-header-cell *matHeaderCellDef>End</th>
        <td mat-cell *matCellDef="let element">
          {{ element.finalDate | date : "MMM d, yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <f5pi-table-actions
            (onDelete)="handleDeleteSeason(element)"
            (onEdit)="openEditSeasonDialog(element)"
            [disabled]="isDeleting || isFetching"
            entityName="season"
          ></f5pi-table-actions>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['name', 'initialDate', 'finalDate', 'actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name', 'initialDate', 'finalDate', 'actions']"></tr>
    </table>
    }
  </ng-template>

  <ng-template #footer>
    @if (getSeasonsQuery.query.isFetching()) {
    <mat-spinner diameter="22" style="margin-right: 8px"></mat-spinner>
    }
    <mat-paginator
      (page)="handlePageChange($event)"
      [hidePageSize]="true"
      [length]="getSeasonsQuery.query.data()?.totalElements"
      [pageIndex]="getSeasonsQuery.query.data()?.pageable?.pageNumber"
      [pageSize]="getSeasonsQuery.query.data()?.pageable?.pageSize"
      aria-label="Select page of seasons"
      showFirstLastButtons
    >
    </mat-paginator>
  </ng-template>
</f5pi-generic-widget>
