@use "variables.scss" as *;

mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  justify-content: space-between;
  max-height: 80vh;
}

.mat-mdc-dialog-title {
  position: static;
}

h2 {
  font: var(--mat-sys-display-small);
}

footer {
  align-self: flex-end;
  display: flex;
  gap: 8px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: var(--overlay);
  pointer-events: all;
  z-index: 99999999;
  outline: none;
  user-select: none;
}

.overlay:focus {
  outline: none;
}

.overlay * {
  pointer-events: none;
  outline: none !important;
}

.close-btn {
  display: block;

  @media (width >= $breakpoint-md) {
    display: none;
  }
}

.save-btn {
  @media (width <= $breakpoint-md) {
    width: 100%;
  }
}
