@if (isPending()) {
<mat-progress-bar mode="query"></mat-progress-bar>
<div class="overlay" tabindex="0"></div>
}

<mat-dialog-content cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
  <div>
    <h2 mat-dialog-title>{{ dialogTitle() }}</h2>
    <ng-container *ngTemplateOutlet="content()"></ng-container>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" [disabled]="isPending()">Close</button>
  @if (showSaveButton()) {
  <button mat-flat-button type="submit" [disabled]="isPending()">
    Save
  </button>
  }
</mat-dialog-actions>