@if (isPending()) {
<mat-progress-bar mode="query"></mat-progress-bar>
<div class="overlay" tabindex="0"></div>
}

<mat-dialog-content cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
  <div>
    <div style="display: flex; justify-content: space-between; align-items: center" mat-dialog-title>
      <h2>{{ dialogTitle() }}</h2>
      <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <ng-container *ngTemplateOutlet="content()"></ng-container>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  @if (showSaveButton()) {
  <button mat-flat-button type="submit" [disabled]="isPending()" class="save-btn">Save</button>
  }
</mat-dialog-actions>
