@use "@angular/material" as mat;

@mixin material-component-overrides() {
  mat-error {
    padding-top: 2px;
  }

  .mat-mdc-form-field-error-wrapper {
    padding: 0;
  }

  mat-form-field:not(.mat-form-field-invalid) {
    height: 48px;
  }

  .mat-mdc-form-field-icon-suffix {
    padding: 0 12px;
  }

  .mat-mdc-form-field-icon-suffix > mat-icon {
    padding: 0;
  }

  .cdk-overlay-pane.mat-mdc-dialog-panel {
    width: 100%;
    border-radius: 0;
  }

  .mat-mdc-dialog-surface.mdc-dialog__surface {
    justify-content: space-between;
  }

  .mat-mdc-paginator-range-actions {
    width: 100%;
  }

  .mat-mdc-paginator-range-label {
    font: var(--mat-sys-body-large);
    margin-left: 0 !important;
    margin-right: auto !important;
  }

  .mat-mdc-paginator-container {
    padding: 2px !important;
  }

  .mat-datepicker-content .mat-calendar {
    height: auto;
  }

  .mat-calendar-arrow {
    display: none;
  }

  .mdc-floating-label--required:not(.mdc-floating-label--hide-required-marker)::after {
    content: "";
    display: none;
    height: 0;
    width: 0;
  }

  .mat-mdc-dialog-title::before {
    content: "";
    display: none;
  }
}

@mixin material-theme-overrides() {
  --mat-dialog-container-max-width: 100%;
  --mat-dialog-headline-padding: 0 0 16px 0;
  --mat-form-field-container-vertical-padding: 12px;
  --mdc-dialog-container-shape: 12px;
  --mdc-dialog-subhead-size: var(--mat-sys-headline-medium-size);

  @include mat.theme-overrides(
    (
      primary: light-dark(#1f1f1f, #ffffff),
      on-primary: light-dark(#ffffff, #000000),
      primary-container: light-dark(#1b1b1b, #e4e4e4),
      on-primary-container: light-dark(#d0d0d0, #303030),
      inverse-primary: light-dark(#c6c6c6, #404040),
      primary-fixed: light-dark(#494949, #b6b6b6),
      primary-fixed-dim: light-dark(#333333, #cccccc),
      on-primary-fixed: light-dark(#ffffff, #000000),
      on-primary-fixed-variant: light-dark(#ffffff, #000000),
      secondary: light-dark(#2c2c2c, #d3d3d3),
      on-secondary: light-dark(#ffffff, #000000),
      secondary-container: light-dark(#494949, #b6b6b6),
      on-secondary-container: light-dark(#ffffff, #000000),
      secondary-fixed: light-dark(#494949, #b6b6b6),
      secondary-fixed-dim: light-dark(#333333, #cccccc),
      on-secondary-fixed: light-dark(#ffffff, #000000),
      on-secondary-fixed-variant: light-dark(#ffffff, #000000),
      tertiary: light-dark(#000000, #ffffff),
      on-tertiary: light-dark(#ffffff, #000000),
      tertiary-container: light-dark(#1b1b1b, #e4e4e4),
      on-tertiary-container: light-dark(#d0d0d0, #303030),
      tertiary-fixed: light-dark(#494949, #b6b6b6),
      tertiary-fixed-dim: light-dark(#333333, #cccccc),
      on-tertiary-fixed: light-dark(#ffffff, #000000),
      on-tertiary-fixed-variant: light-dark(#ffffff, #000000),
      error: light-dark(#c03040, #cf6679),
      on-error: light-dark(#ffffff, #000000),
      error-container: light-dark(#ffe5e5, #8b0000),
      on-error-container: light-dark(#8c3030, #ffdada),
      surface: light-dark(#ffffff, #121212),
      on-surface: light-dark(#000000, #ffffff),
      surface-variant: light-dark(#f5f5f5, #2c2c2c),
      on-surface-variant: light-dark(#717171, #bebebe),
      surface-container: light-dark(#f0f0f0, #1e1e1e),
      on-surface-container: light-dark(#000000, #ffffff),
      background: light-dark(#ffffff, #000000),
      on-background: light-dark(#121212, #ffffff),
      outline: light-dark(#79747e, #938f99),
      outline-variant: light-dark(#c8c5ca, #48464c),
      shadow: light-dark(#000000, #000000),
      inverse-surface: light-dark(#121212, #ffffff),
      inverse-on-surface: light-dark(#ffffff, #000000),
    )
  );

  @include mat.button-overrides(
    (
      filled-container-height: calc(var(--spacing) * 6),
      filled-container-shape: calc(var(--spacing) * 0.8),
      filled-horizontal-padding: calc(var(--spacing) * 4),
      text-container-height: calc(var(--spacing) * 6),
      text-container-shape: calc(var(--spacing) * 0.8),
      text-horizontal-padding: calc(var(--spacing) * 4),
    )
  );

  @include mat.form-field-overrides(
    (
      outlined-label-text-size: var(--mat-sys-body-medium-size),
      container-text-size: var(--mat-sys-body-medium-size),
    )
  );

  @include mat.datepicker-overrides(
    (
      calendar-body-label-text-color: var(--mat-sys-on-primary),
      calendar-container-background-color: var(--mat-sys-primary),
      calendar-container-shape: 4px,
      calendar-date-focus-state-background-color: var(--mat-sys-primary-container),
      calendar-date-hover-state-background-color: var(--mat-sys-primary-container),
      calendar-date-selected-state-background-color: var(--mat-sys-outline),
      calendar-date-text-color: var(--mat-sys-on-primary),
      calendar-date-today-outline-color: var(--mat-sys-on-primary),
      calendar-date-today-selected-state-outline-color: var(--mat-sys-on-primary),
    )
  );

  @include mat.table-overrides(
    (
      row-item-outline-color: hsl(240 5.9% 90%),
      header-headline-color: hsl(240 3.8% 46.1%),
    )
  );

  @include mat.dialog-overrides(
    (
      headline-padding: 0 0 20px 0,
      content-padding: 35px 30px,
    )
  );
}
