@use "variables" as *;

:is(html, body) {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color-scheme: light;
  background: var(--mat-sys-background);
}

body.dark {
  color-scheme: dark;
}

@layer base {
  body {
    display: flex;
    flex-direction: column;
  }

  :is(h1, h2, h3, p) {
    margin: 0;
    margin-block: 0;
  }

  h1 {
    font: var(--mat-sys-display-large);
    line-height: 1;
  }

  h2 {
    font: var(--mat-sys-display-medium);
  }

  h3 {
    font: var(--mat-sys-display-small);
  }

  p {
    font: var(--mat-sys-body-large);
  }

  .full-screen-dialog {
    padding: 20px;
    margin-left: var(--sidenav-width);
    animation: fadeInUp 0.2s ease-in-out;

    @media (width < $breakpoint-lg) {
      margin-left: 0;
    }
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0;
}

.material-symbols-outlined.material-symbols-outlined--filled {
  font-variation-settings: "FILL" 1;
}

.backdrop {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
