@use "@angular/material" as mat;
@use "./material-overrides.scss" as overrides;

html {
  @include mat.theme(
    (
      typography: Poppins,
      density: -3,
    )
  );
}

:root {
  --sidenav-width: 280px;
  @include overrides.material-theme-overrides();
  @include overrides.material-component-overrides();
}
