.wrapper {
  display: flex;
  margin: 1.1rem 0;
  min-height: calc(100dvh - 2.3rem);
  flex-wrap: wrap;
}

.player-list {
  flex: 1 1 min(500px, 100%);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 2rem;
  background: var(--mat-sys-background);
  border-radius: 12px;
  padding-right: calc(2rem + 20px);
}

.player-statistics {
  flex: 1 1 min(500px, 100%);
  background: var(--muted);
  border-radius: 40px 12px 12px 40px;
  margin-right: 1.1rem;
  margin-left: -20px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 12px;

  h3 {
    font: var(--mat-sys-headline-medium);
    color: var(--muted-foreground);
  }

  .player-statistics__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 12px;
    height: 100%;


    .goals,
    .money-spent,
    .own-goals,
    .wins,
    .losses,
    .draws,
    .games {
      background: rgba(0, 0, 0, 0.2);
      border-radius: 12px;
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 12px;

      span:first-child {
        font: var(--mat-sys-body-large);
      }

      span:last-child {
        font: var(--mat-sys-display-large);
        color: var(--muted-foreground);
        font-weight: 500;
      }
    }

    .games {
      grid-column: span 4 / span 4;
    }

    .goals {
      grid-column: span 8 / span 8;
    }

    .money-spent {
      grid-column: span 6 / span 6;
    }

    .own-goals {
      grid-column: span 6 / span 6;
    }

    .wins {
      grid-column: span 4 / span 4;
    }

    .losses {
      grid-column: span 4 / span 4;
    }

    .draws {
      grid-column: span 4 / span 4;
    }
  }
}

.empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  h3 {
    font: var(--mat-sys-headline-medium);
    color: var(--muted-foreground);
  }
}