@let player = selectedPlayer();
@let playerStatistics = getPlayerStatistics();

<section class="wrapper">

  <div class="player-list">
    <h1>List of players</h1>
    <f5pi-players-list (playerSelected)="handlePlayerSelection($event)"
      [selectedPlayer]="selectedPlayer()"></f5pi-players-list>

  </div>

  <div class="player-statistics">
    @if (player) {
    <div class="player-statistics__wrapper">

      <div class="wins">
        <span>Wins</span>
        <span>{{playerStatistics?.wins}}</span>
      </div>

      <div class="losses">
        <span>Losses</span>
        <span>{{playerStatistics?.losses}}</span>
      </div>

      <div class="draws">
        <span>Draws</span>
        <span>{{playerStatistics?.draws}}</span>
      </div>

      <div class="own-goals">
        <span>Own goals</span>
        <span>{{playerStatistics?.ownGoals}}</span>
      </div>

      <div class="money-spent">
        <span>Money spent</span>
        <span>{{playerStatistics?.moneySpent}}</span>
      </div>

      <div class="games">
        <span>Games</span>
        <span>{{playerStatistics?.games}}</span>
      </div>

      <div class="goals">
        <span>Goals</span>
        <span>{{playerStatistics?.goals}}</span>
      </div>
    </div>

    } @else {
    <div class="empty-state">
      <h3>Select a player to see their statistics</h3>
    </div>
    }
  </div>
</section>