<button
  (click)="onEdit.emit()"
  [ariaLabel]="'Edit ' + entityName()"
  [matTooltip]="'Edit ' + entityName()"
  mat-icon-button
  matSuffix
  matTooltipPosition="left"
  type="button"
>
  <mat-icon>edit_square</mat-icon>
</button>

<button
  (click)="onDelete.emit()"
  [ariaLabel]="'Delete ' + entityName()"
  [matTooltip]="'Delete ' + entityName()"
  mat-icon-button
  matSuffix
  matTooltipClass="tooltip-danger"
  matTooltipPosition="right"
  type="button"
>
  <mat-icon style="color: var(--mat-sys-error)">delete</mat-icon>
</button>
