<form [formGroup]="form" (submit)="handleSubmit()">
  <f5pi-generic-dialog dialogTitle="Edit field" [isPending]="updateFieldService.isPending()">
    <ng-template #content>
      @if (updateFieldService.error()) {
      <f5pi-alert [message]="updateFieldService.error()!"></f5pi-alert>
      }

      <mat-form-field>
        <input [maxLength]="20" matInput placeholder="Name" formControlName="name" />
        <mat-label>Name</mat-label>

        @if (form.controls.name.getError('required')) {
        <mat-error>Name is required</mat-error>
        } @else if (form.controls.name.getError('maxlength')) {
        <mat-error>Name must be less than 20 characters</mat-error>
        }
      </mat-form-field>
    </ng-template>
  </f5pi-generic-dialog>
</form>
