<form [formGroup]="form" (ngSubmit)="handleSubmit()">
  <f5pi-generic-dialog title="Create a new field">
    <ng-template #content>
      @if (error()) {
      <div class="alert" role="alert">
        <mat-icon class="material-symbols-outlined material-symbols-outlined--filled">info</mat-icon>
        <span>{{ error() }}</span>
      </div>
      }
      <mat-form-field>
        <input matInput [maxLength]="20" cdkFocusInitial formControlName="name" />
        <mat-label>Name</mat-label>

        @if (form.controls.name.getError('required')) {
        <mat-error>Name is required</mat-error>
        } @else if (form.controls.name.getError('maxlength')) {
        <mat-error>Name must be less than 20 characters</mat-error>
        }
      </mat-form-field>
    </ng-template>

    <ng-template #footer>
      <button mat-button [mat-dialog-close]="false">Close</button>
      <button mat-flat-button type="submit">Save</button>
    </ng-template>
  </f5pi-generic-dialog>
</form>
