@let isError = createFieldMutation.isError();
@let isPending = createFieldMutation.isPending();

<form [formGroup]="form" (ngSubmit)="handleSubmit()">
  <f5pi-generic-dialog dialogTitle="New field" [isPending]="isPending">
    <ng-template #content>
      @if (isError) {
      <div class="alert" role="alert">
        <mat-icon class="material-symbols-outlined material-symbols-outlined--filled">info</mat-icon>
        <span>{{ getErrorMessage() }}</span>
      </div>
      }
      <mat-form-field>
        <input matInput cdkFocusInitial [maxLength]="20" formControlName="name" />
        <mat-label>Name</mat-label>

        @if (form.controls.name.getError('required')) {
        <mat-error>Name is required</mat-error>
        } @else if (form.controls.name.getError('maxlength')) {
        <mat-error>Name must be less than 20 characters</mat-error>
        }
      </mat-form-field>
    </ng-template>
  </f5pi-generic-dialog>
</form>