<mat-toolbar>
  <header>
    <f5pi-soccer-ball [width]="40" [height]="40" />
    <h1>F5pi</h1>
  </header>
  <div>
    <button
      (click)="handleMenuClick()"
      aria-label="Example icon-button with menu icon"
      class="example-icon"
      matIconButton
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div
    class="menu"
    [ngClass]="{
      'menu--open': isMenuOpen(),
      'menu--closed': !isMenuOpen()
    }"
  >
    <div class="wrapper">
      <ul>
        @for (item of TOOLBAR_ITEMS; track item.label) {
        <li
          [ngClass]="{
          active: isActivePath(item.path),
        }"
        >
          <a [routerLink]="item.path" (click)="handleLinkClick()">
            <mat-icon
              [className]="
                isActivePath(item.path)
                  ? 'material-symbols-outlined material-symbols-outlined--filled'
                  : 'material-symbols-outlined'
              "
              >{{ item.icon }}</mat-icon
            >
            {{ item.label }}
          </a>
        </li>
        }
      </ul>

      <div class="footer">
        <div class="user-info">
          <p>Hello,</p>
          <p class="full-name">Matías Delgado</p>
        </div>
        <div class="actions">
          <button mat-icon-button (click)="themeService.toggleTheme()">
            <mat-icon> @if (themeService.currentTheme() === 'dark') { light_mode } @else { dark_mode}</mat-icon>
          </button>
          <button mat-icon-button (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>
