<mat-toolbar>
  <span>f5pi</span>
  <button mat-icon-button>
    <mat-icon>dashboard</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>sports_soccer</mat-icon>
  </button>

  <button mat-icon-button>
    <mat-icon>group</mat-icon>
  </button>

  <button mat-icon-button>
    <mat-icon>calendar_month</mat-icon>
  </button>

  <button mat-icon-button>
    <mat-icon>ballot</mat-icon>
  </button>
</mat-toolbar>

<!-- path: '/',
icon: 'dashboard',
label: 'Dashboard',
},
{
path: "/games",
icon: 'sports_soccer',
label: 'Games',
},
{
path: '/players',
icon: 'group',
label: 'Players',
},
{
path: '/seasons',
icon: 'calendar_month',
label: 'Seasons',
},
{
path: '/fields',
icon: 'ballot',
label: 'Fields',
}, -->