@let players = getPlayersService.players();
@let error = getPlayersService.error();
@let isLoading = getPlayersService.isLoading();
@let pageNumber = getPlayersService.pageNumber();
@let pageSize = getPlayersService.pageSize();
@let totalElements = getPlayersService.totalElements();

@if (error) {
<div class="error">
  <span> Error loading players. Please try again later. </span>
</div>
} @else {
<div class="players-table">
  <table
    [dataSource]="players"
    mat-table
    [ngClass]="{
    'disabled': isLoading,
  }"
  >
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
        <div style="display: flex; gap: 12px; align-items: center">
          <img [src]="element.imageURL" [width]="24" [height]="24" style="object-fit: cover; border-radius: 50%" />
          <span>
            {{ element.name }}
          </span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <f5pi-table-actions></f5pi-table-actions>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['name', 'actions']"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['name', 'actions']"
      (click)="playerSelected.emit(row)"
      [ngClass]="{
          'table-row': true,
          'table-row-active': row.playerId === selectedPlayer()?.playerId,
        }"
    ></tr>
  </table>

  <div class="paginator">
    @if (isLoading) {
    <mat-spinner diameter="22" style="margin-right: 8px"></mat-spinner>
    }
    <mat-paginator
      (page)="handlePageChange($event)"
      [disabled]="isLoading"
      [hidePageSize]="true"
      [length]="totalElements"
      [pageIndex]="pageNumber"
      [pageSize]="pageSize"
      aria-label="Select page of players"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>
}
