@use "variables" as *;

.home-page {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100%;

  @media (width >= $breakpoint-sm) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr;
  }

  :is(.games, .players, .seasons, .fields) {
    height: 100%;
    overflow: hidden;
  }

  .games {
    grid-column: span 12 / span 12;

    @media (width >= $breakpoint-lg) {
      grid-column: span 8 / span 8;
    }

    @media (width >= $breakpoint-xl) {
      grid-column: span 9 / span 9;
    }
  }

  .players {
    grid-column: span 12 / span 12;

    @media (width >= $breakpoint-lg) {
      grid-column: span 4 / span 4;
    }

    @media (width >= $breakpoint-xl) {
      grid-column: span 3 / span 3;
    }
  }

  .seasons {
    grid-column: span 12 / span 12;

    @media (width >= $breakpoint-lg) {
      grid-column: span 8 / span 8;
    }
  }

  .fields {
    grid-column: span 12 / span 12;

    @media (width >= $breakpoint-lg) {
      grid-column: span 4 / span 4;
    }
  }
}
