<section class="home-page">
  <article class="games">
    <f5pi-generic-widget widgetTitle="Games">
      <ng-template #headerActions>
        <button mat-mini-fab>
          <mat-icon>add</mat-icon>
        </button>
      </ng-template>
      <ng-template #content>Contenido</ng-template>
      <ng-template #footer>Footer</ng-template>
    </f5pi-generic-widget>
  </article>

  <article class="players">
    <f5pi-players-widget></f5pi-players-widget>
  </article>

  <article class="seasons">
    <f5pi-seasons-widget></f5pi-seasons-widget>
  </article>

  <article class="fields">
    <f5pi-fields-widget></f5pi-fields-widget>
  </article>
</section>
