@let isDeleting = playersService.deletePlayerMutation.isPending(); @let isFetching = getPlayersQuery.query.isFetching();

<f5pi-generic-widget widgetTitle="Players" icon="group">
  <ng-template #headerActions>
    <button (click)="openNewPlayerDialog()" mat-mini-fab matTooltip="Add a new player" aria-label="Add a new player">
      <mat-icon>add</mat-icon>
    </button>
  </ng-template>

  <ng-template #content>
    @if (getPlayersQuery.query.isPending()){
    <div class="loading"></div>
    } @else if (getPlayersQuery.query.isError()) {
    <div class="error">
      <span> Error loading players. Please try again later. </span>
    </div>
    } @else {
    <table [dataSource]="getPlayersQuery.query.data()!.content" mat-table [ngClass]="{
        loading: isDeleting || isFetching
      }">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          <div style="display: flex; gap: 12px; align-items: center">
            <img [src]="element.imageURL" [width]="24" [height]="24" style="object-fit: cover; border-radius: 50%" />
            <span>
              {{ element.name }}
            </span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <f5pi-table-actions (onDelete)="handleDeletePlayer(element)" (onEdit)="openEditPlayerDialog(element)"
            [disabled]="isDeleting || isFetching" entityName="player"></f5pi-table-actions>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['name', 'actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name', 'actions']" (click)="handleSelection(row)" [ngClass]="{
        'table-row-selectable': allowSelection(),
        'table-row-active': row.playerId === selectedPlayerId()
      }"></tr>
    </table>
    }
  </ng-template>

  <ng-template #footer>
    @if (isFetching) {
    <mat-spinner diameter="22" style="margin-right: 8px"></mat-spinner>
    }
    <mat-paginator (page)="handlePageChange($event)" [hidePageSize]="true"
      [length]="getPlayersQuery.query.data()?.totalElements"
      [pageIndex]="getPlayersQuery.query.data()?.pageable?.pageNumber"
      [pageSize]="getPlayersQuery.query.data()?.pageable?.pageSize" aria-label="Select page of players"
      showFirstLastButtons>
    </mat-paginator>
  </ng-template>
</f5pi-generic-widget>