<f5pi-generic-widget widgetTitle="Players" icon="group">
  <ng-template #headerActions>
    <button (click)="openNewPlayerDialog()" mat-mini-fab matTooltip="Add a new player" aria-label="Add a new player">
      <mat-icon>add</mat-icon>
    </button>
  </ng-template>

  <ng-template #content>
    @if (getPlayersService.error()) {
    <div class="error">
      <span> Error loading players. Please try again later. </span>
    </div>
    } @else {
    <table
      [dataSource]="getPlayersService.players()"
      mat-table
      [ngClass]="{
        loading: deletePlayerService.isPending() || getPlayersService.isLoading(),
      }"
    >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          <div style="display: flex; gap: 12px; align-items: center">
            <img [src]="element.imageURL" [width]="24" [height]="24" style="object-fit: cover; border-radius: 50%" />
            <span style="min-width: max-content">
              {{ element.name }}
            </span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <f5pi-table-actions
            (onDelete)="handleDeletePlayer(element)"
            (onEdit)="openEditPlayerDialog(element)"
            [disabled]="deletePlayerService.isPending() || getPlayersService.isLoading()"
            entityName="player"
          ></f5pi-table-actions>
        </td>
      </ng-container>

      <ng-container matColumnDef="noRecords">
        <td mat-footer-cell *matFooterCellDef colspan="5">No players found</td>
      </ng-container>

      <tr mat-footer-row *matFooterRowDef="!getPlayersService.players().length ? ['noRecords'] : []"></tr>

      <tr mat-header-row *matHeaderRowDef="['name', 'actions']"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['name', 'actions']"
        (click)="handleSelection(row)"
        [ngClass]="{
          'table-row-selectable': allowSelection(),
          'table-row-active': row.playerId === selectedPlayerId()
        }"
      ></tr>
    </table>
    }
  </ng-template>

  <ng-template #footer>
    @if (getPlayersService.isLoading()) {
    <mat-spinner diameter="22" style="margin-right: 8px"></mat-spinner>
    }
    <mat-paginator
      (page)="handlePageChange($event)"
      [hidePageSize]="true"
      [length]="getPlayersService.totalElements()"
      [pageIndex]="getPlayersService.pageNumber()"
      [pageSize]="getPlayersService.pageSize()"
      aria-label="Select page of players"
      showFirstLastButtons
    >
    </mat-paginator>
  </ng-template>
</f5pi-generic-widget>
