@use "@angular/material" as mat;
@use "@styles/variables.scss" as *;

img {
  object-fit: cover;
  border-radius: 50%;
}

mat-chip {
  padding: 16px 6px;

  @include mat.chips-overrides((container-shape-radius: var(--mat-sys-corner-large),
      label-text-font: var(--mat-sys-label-medium-font),
    ));
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;

  .team {
    grid-column: span 6 / span 6;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media(width <=$breakpoint-xl) {
      grid-column: span 12 / span 12;
    }

    .team-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        font: var(--mat-sys-headline-small);
        color: var(--mat-sys-on-surface);
      }
    }

    .players {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .player {
        display: flex;
        gap: 8px;
        align-items: center;
        border: 1px solid var(--mat-sys-outline-variant);
        border-radius: var(--mat-sys-corner-small);
        padding: 12px;
        justify-content: space-between;

        @media (width <=$breakpoint-md) {
          flex-wrap: wrap;
        }

        .player-info {
          display: flex;
          gap: 8px;
          align-items: center;
          padding-left: 4px;

          @media (width <=$breakpoint-md) {
            width: 100%;
          }

          span {
            color: var(--mat-sys-on-surface);
            font: var(--mat-sys-body-large);
            font-weight: 500;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            line-clamp: 1;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .player-goals {
          display: flex;
          gap: 8px;

          @media (width <=$breakpoint-md) {
            flex-wrap: wrap;
            width: 100%;
          }

          .goal {
            flex: 1 1 min(150px, 100%);
            background: var(--muted);
            border-radius: var(--mat-sys-corner-small);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 8px 12px;
            gap: 16px;

            .goal--scored {
              color: var(--success);
            }

            span:first-child {
              width: max-content;
            }

            span:last-child {
              font: var(--mat-sys-body-large);
              font-weight: 500;
            }
          }

          .own-goals {
            @include mat.chips-overrides((label-text-color: var(--mat-sys-error),
              ));
          }
        }
      }
    }
  }
}