@let isPending = getGameDetailQuery.isPending();

<f5pi-generic-dialog dialogTitle="Game detail" [isPending]="isPending" [showSaveButton]="false">
  <ng-template #content>
    @if (isPending) {
    <div>
      Loading...
    </div>
    } @else {
    <div class="grid">
      <div class="team">
        <div class="team-header">
          <h3>First team</h3>
          <mat-chip>{{ getResultForFirstTeam() }}</mat-chip>
        </div>
        <div class="players">
          @for (player of getPlayersForFirstTeam(); track player.imageURL) {
          <div class="player">
            <div class="player-info">
              <img [src]="player.imageURL" width="30" height="30" />
              <span>{{ player.playerName }}</span>
            </div>
            <div class="player-goals">
              <div class="goal">
                <span>Goals scored</span>
                <span [ngClass]="{
                  'goal--scored': player.goalsScored > 0,
                }">{{ player.goalsScored }}</span>
              </div>
              <div class="goal">
                <span>Own goals</span> <span>{{ player.ownGoals }}</span>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
      <div class="team">
        <header class="team-header">
          <h3>Second team</h3>
          <mat-chip class="loser">{{ getResultForSecondTeam() }}</mat-chip>
        </header>
        <div class="players">
          @for (player of getPlayersForSecondTeam(); track player.imageURL) {
          <div class="player">
            <div class="player-info">
              <img [src]="player.imageURL" width="30" height="30" />
              <span>{{ player.playerName }}</span>
            </div>
            <div class="player-goals">
              <div class="goal">
                <span>Goals scored</span>
                <span [ngClass]="{
                  'goal--scored': player.goalsScored > 0,
                }">{{ player.goalsScored }}</span>
              </div>
              <div class="goal">
                <span>Own goals</span> <span>{{ player.ownGoals }}</span>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
    }
  </ng-template>
</f5pi-generic-dialog>